brooder.flow
[{"id":"ce9c7aef.316388","type":"particle-cloud","z":"acdf7394.53209","host":"https://api.particle.io","port":"443","accesstoken":"1d9e05239a55c6a6e1e0d88ea63e452544472133","name":""},{"id":"27694948.d896b6","type":"ui_tab","z":"acdf7394.53209","name":"Brooder","icon":"dashboard","order":"1"},{"id":"d837566c.27c8a8","type":"mqtt-broker","z":"acdf7394.53209","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"5adafb84.a52504","type":"mqtt in","z":"acdf7394.53209","name":"","topic":"brooder/data","broker":"d837566c.27c8a8","x":127,"y":79,"wires":[["5acd79ab.a53288","ce362dd9.31c9d"]]},{"id":"5acd79ab.a53288","type":"debug","z":"acdf7394.53209","name":"","active":true,"console":"false","complete":"false","x":360,"y":79,"wires":[]},{"id":"16396ef.fe9c691","type":"ui_switch","z":"acdf7394.53209","tab":"27694948.d896b6","name":"Flow Enable","topic":"","group":"Settings","order":"21","onvalue":"true","offvalue":"false","x":592,"y":696,"wires":[["9cd94e14.6326b"]]},{"id":"9cd94e14.6326b","type":"function","z":"acdf7394.53209","name":"Flow Enable","func":"\nif (msg.payload === \"true\")\n    {\n        flow.set(\"flowEnable\" , 1);\n    }\n    \nif (msg.payload === \"false\")\n    {\n        flow.set(\"flowEnable\", 0);\n    }    \nreturn msg;","outputs":1,"noerr":0,"x":765,"y":695,"wires":[[]]},{"id":"f0d8379e.0f27c8","type":"ui_switch","z":"acdf7394.53209","tab":"27694948.d896b6","name":"Alarms","topic":"alarms","group":"Settings","order":"22","onvalue":"true","offvalue":"false","x":572,"y":733,"wires":[["cb3ac33b.34c54"]]},{"id":"cb3ac33b.34c54","type":"function","z":"acdf7394.53209","name":"Alarm Enable","func":"var alarms;\n\nif (msg.payload === \"true\")\n    {\n        flow.set(\"alarms\" , 1);\n    }\n    \nif (msg.payload === \"false\")\n    {\n        flow.set(\"alarms\", 0);\n    }    \nreturn msg;","outputs":1,"noerr":0,"x":729,"y":732,"wires":[[]]},{"id":"221260d8.ddeda","type":"ui_text_input","z":"acdf7394.53209","tab":"27694948.d896b6","mode":"text","delay":"23","name":"Target Temperature","topic":"","group":"Settings","order":"16","x":611,"y":789,"wires":[["e1c11888.1e3ee8"]]},{"id":"e1c11888.1e3ee8","type":"ParticleFunc out","z":"acdf7394.53209","baseurl":"ce9c7aef.316388","devid":"28002e001747343337363432","fname":"changeTemp","param":"","once":false,"repeat":0,"x":1132,"y":791,"wires":[[]]},{"id":"9507019b.6af9","type":"ui_text","z":"acdf7394.53209","tab":"27694948.d896b6","name":"Heat Lamp State","group":"Data","order":"7","format":"{{msg.payload}}","x":864,"y":403,"wires":[]},{"id":"a60e4870.59f1b8","type":"json","z":"acdf7394.53209","name":"","x":400,"y":127,"wires":[["1c14122e.e3ebee","dbc9bd06.24364","b5a4261f.4a5bd8","59c03700.a63fc8","aff87981.500788","ae5f1835.51a0e8","a8117f1f.57ee8","9835b388.67ca5","65e8bb56.9a1744","bc2d4189.43d2c","ca0c04b2.35f3f8","307c34de.cf83cc"]]},{"id":"1c14122e.e3ebee","type":"function","z":"acdf7394.53209","name":"Get Heat Lamp State","func":"var heatLamp;\n\nheatLamp = parseInt(msg.payload.heatLampCon);\n\nif (heatLamp === 0)\n    {\n        msg.payload = \"Off\";\n    }\n    else\n    {\n        msg.payload = \"On\";\n    }\nreturn msg;","outputs":1,"noerr":0,"x":622,"y":405,"wires":[["9507019b.6af9"]]},{"id":"f584292.f0a7bd8","type":"ui_switch","z":"acdf7394.53209","tab":"27694948.d896b6","name":"Heat Lamp","topic":"","group":"Settings","order":"24","onvalue":"1","offvalue":"0","x":588,"y":846,"wires":[["7ac828cb.8537d8"]]},{"id":"7ac828cb.8537d8","type":"ParticleFunc out","z":"acdf7394.53209","baseurl":"ce9c7aef.316388","devid":"28002e001747343337363432","fname":"heatLampFunc","param":"","once":false,"repeat":0,"x":1122,"y":840,"wires":[[]]},{"id":"dbc9bd06.24364","type":"function","z":"acdf7394.53209","name":"Get Heat Lamp Run Time","func":"var runTime;\n\nrunTime = parseInt((parseInt(msg.payload.heatLampRunTime) / 60000));\nrunTime = runTime.toString();\nmsg.payload = runTime.concat(\" Minutes\");\nreturn msg;","outputs":1,"noerr":0,"x":629,"y":319,"wires":[["4bcedb0d.b43124"]]},{"id":"4bcedb0d.b43124","type":"ui_text","z":"acdf7394.53209","tab":"27694948.d896b6","name":"Heat Lamp Run Time","group":"Data","order":"5","format":"{{msg.payload}}","x":861,"y":320,"wires":[]},{"id":"b5a4261f.4a5bd8","type":"function","z":"acdf7394.53209","name":"Get Light State","func":"var heatPad;\n\nheatPad = parseInt(msg.payload.lightState);\n\nif (heatPad === 0)\n    {\n        msg.payload = \"Off\";\n    }\n    else\n    {\n        msg.payload = \"On\";\n    }\nreturn msg;","outputs":1,"noerr":0,"x":604,"y":454,"wires":[["b65ab614.49a548"]]},{"id":"b65ab614.49a548","type":"ui_text","z":"acdf7394.53209","tab":"27694948.d896b6","name":"Light State","group":"Data","order":"8","format":"{{msg.payload}}","x":809,"y":452,"wires":[]},{"id":"fcaa6cde.03559","type":"ui_switch","z":"acdf7394.53209","tab":"27694948.d896b6","name":"Light State","topic":"","group":"Settings","order":"25","onvalue":"1","offvalue":"0","x":590,"y":897,"wires":[["b01f200c.4fe0e"]]},{"id":"b01f200c.4fe0e","type":"ParticleFunc out","z":"acdf7394.53209","baseurl":"ce9c7aef.316388","devid":"28002e001747343337363432","fname":"light","param":"","once":false,"repeat":0,"x":1084,"y":891,"wires":[[]]},{"id":"59c03700.a63fc8","type":"function","z":"acdf7394.53209","name":"Get Target Temp","func":"msg.payload = parseInt(msg.payload.targetTemp);\n\nreturn msg;","outputs":1,"noerr":0,"x":602,"y":132,"wires":[["72a968ce.8d5698"]]},{"id":"72a968ce.8d5698","type":"ui_text","z":"acdf7394.53209","tab":"27694948.d896b6","name":"Target Temp","group":"Data","order":1,"format":"{{msg.payload}}","x":792,"y":134,"wires":[]},{"id":"1720ea85.e8df15","type":"ui_text","z":"acdf7394.53209","tab":"27694948.d896b6","name":"Current Temp","group":"Data","order":"2","format":"{{msg.payload}}","x":798,"y":176,"wires":[]},{"id":"aff87981.500788","type":"function","z":"acdf7394.53209","name":"Get Current Temp","func":"msg.payload = parseInt(msg.payload.temp1);\n\nreturn msg;","outputs":1,"noerr":0,"x":608,"y":174,"wires":[["1720ea85.e8df15","eeed8bda.111278"]]},{"id":"eeed8bda.111278","type":"ui_chart","z":"acdf7394.53209","tab":"27694948.d896b6","name":"Temperature","group":"Data","order":"3","interpolate":"basis","nodata":"No Data","removeOlder":"6","removeOlderUnit":"3600","x":806,"y":231,"wires":[[],[]]},{"id":"ae5f1835.51a0e8","type":"function","z":"acdf7394.53209","name":"Get relHumidity","func":"msg.payload = parseInt(msg.payload.relHumidity);\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":539,"wires":[["c65a3392.39a5d"]]},{"id":"c65a3392.39a5d","type":"ui_text","z":"acdf7394.53209","tab":"27694948.d896b6","name":"Relative Humidity","group":"Data","order":"10","format":"{{msg.payload}}","x":820,"y":541,"wires":[]},{"id":"a8117f1f.57ee8","type":"function","z":"acdf7394.53209","name":"Get DewPoint","func":"msg.payload = parseInt(msg.payload.dewPoint);\n\nreturn msg;","outputs":1,"noerr":0,"x":612,"y":590,"wires":[["9bafdff5.64502"]]},{"id":"9bafdff5.64502","type":"ui_text","z":"acdf7394.53209","tab":"27694948.d896b6","name":"Dewpoint","group":"Data","order":"11","format":"{{msg.payload}}","x":792,"y":592,"wires":[]},{"id":"9835b388.67ca5","type":"function","z":"acdf7394.53209","name":"Get Heat Index","func":"msg.payload = parseInt(msg.payload.heatIndex);\n\nreturn msg;","outputs":1,"noerr":0,"x":612,"y":639,"wires":[["3fe6396.fc019c6"]]},{"id":"3fe6396.fc019c6","type":"ui_text","z":"acdf7394.53209","tab":"27694948.d896b6","name":"Heat Index","group":"Data","order":"12","format":"{{msg.payload}}","x":802,"y":641,"wires":[]},{"id":"65e8bb56.9a1744","type":"function","z":"acdf7394.53209","name":"Get Heater State","func":"var heater;\n\nheater = msg.payload = parseInt(msg.payload.heaterState);\n\nif (heater === 0)\n    {\n        msg.payload = \"Off\";\n    }\nelse\n    {\n        msg.payload = \"On\";\n    }\n\nreturn msg;","outputs":1,"noerr":0,"x":613,"y":363,"wires":[["6d319d20.92ce64"]]},{"id":"6d319d20.92ce64","type":"ui_text","z":"acdf7394.53209","tab":"27694948.d896b6","name":"Heater State","group":"Data","order":"6","format":"{{msg.payload}}","x":793,"y":365,"wires":[]},{"id":"bc2d4189.43d2c","type":"function","z":"acdf7394.53209","name":"Get RSSI","func":"msg.payload = parseInt(msg.payload.rssi);\n\nreturn msg;","outputs":1,"noerr":0,"x":588,"y":493,"wires":[["1cc3d20e.e33c2e"]]},{"id":"1cc3d20e.e33c2e","type":"ui_text","z":"acdf7394.53209","tab":"27694948.d896b6","name":"RSSI","group":"Data","order":"9","format":"{{msg.payload}}","x":778,"y":495,"wires":[]},{"id":"ca0c04b2.35f3f8","type":"function","z":"acdf7394.53209","name":"Get Heater Run Time","func":"var runTime;\n\nrunTime = parseInt((parseInt(msg.payload.heaterRunTime) / 60000));\nrunTime = runTime.toString();\nmsg.payload = runTime.concat(\" Minutes\");\nreturn msg;","outputs":1,"noerr":0,"x":617,"y":276,"wires":[["c6bcb6ad.394348"]]},{"id":"c6bcb6ad.394348","type":"ui_text","z":"acdf7394.53209","tab":"27694948.d896b6","name":"Heater Run Time","group":"Data","order":"4","format":"{{msg.payload}}","x":828,"y":276,"wires":[]},{"id":"3f746a0a.c08b96","type":"inject","z":"acdf7394.53209","name":"Inject at start","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"x":114,"y":30,"wires":[["32454ccc.cdbab4"]]},{"id":"32454ccc.cdbab4","type":"function","z":"acdf7394.53209","name":"Initialize Varaiables","func":"flow.set(\"flowEnable\" , 1);\nflow.set(\"alarms\" , 1);\nflow.set(\"alarmBracket\" , 10);\n\nreturn msg;","outputs":1,"noerr":0,"x":329,"y":30,"wires":[["474c8c69.b8b374"]]},{"id":"474c8c69.b8b374","type":"debug","z":"acdf7394.53209","name":"","active":true,"console":"false","complete":"false","x":514,"y":30,"wires":[]},{"id":"ce362dd9.31c9d","type":"switch","z":"acdf7394.53209","name":"","property":"flowEnable","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","outputs":2,"x":271,"y":134,"wires":[["a60e4870.59f1b8"],[]]},{"id":"307c34de.cf83cc","type":"switch","z":"acdf7394.53209","name":"","property":"alarms","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","outputs":2,"x":571,"y":1027,"wires":[["fb0051a5.04ffb","a92565a8.56da98"],[]]},{"id":"8df33b76.720cc8","type":"ui_text_input","z":"acdf7394.53209","tab":"27694948.d896b6","mode":"text","delay":300,"name":"Alarm Bracket","topic":"","group":"Settings","order":1,"x":598,"y":939,"wires":[["80b57514.7f4a88"]]},{"id":"fb0051a5.04ffb","type":"function","z":"acdf7394.53209","name":"Alarm Brackets","func":"var alarmBracket;\n\nalarmBracket = parseInt(flow.get(\"alarmBracket\"));\n\nmsg.payload.alarmHigh = parseInt(msg.payload.targetTemp) + alarmBracket;\nmsg.payload.alarmLow = parseInt(msg.payload.targetTemp) - alarmBracket;\n\nreturn msg;","outputs":"1","noerr":0,"x":739,"y":1021,"wires":[["6c222a8c.93ddd4"]]},{"id":"d71131de.28eed","type":"delay","z":"acdf7394.53209","name":"1 Msg per min","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1147,"y":1019,"wires":[["9c1355d3.63eca8"]]},{"id":"cfaa2e9d.3055d","type":"delay","z":"acdf7394.53209","name":"1 msg per min","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1148,"y":1059,"wires":[["5f5c780f.a0a388"]]},{"id":"9c1355d3.63eca8","type":"pushover","z":"acdf7394.53209","name":"Brooder Over Temp","device":"","title":"Brooder Over Temp","priority":0,"sound":"siren","x":1346,"y":1019,"wires":[]},{"id":"5f5c780f.a0a388","type":"pushover","z":"acdf7394.53209","name":"Brooder Under Temp","device":"","title":"Brooder Under Temp","priority":0,"sound":"siren","x":1359,"y":1057,"wires":[]},{"id":"80b57514.7f4a88","type":"function","z":"acdf7394.53209","name":"Set Alarm Bracket","func":"flow.set(\"alarmBracket\" , parseInt(msg.payload));\n\nreturn msg;","outputs":1,"noerr":0,"x":807,"y":941,"wires":[[]]},{"id":"6c222a8c.93ddd4","type":"switch","z":"acdf7394.53209","name":"Alarm Triggers","property":"payload.temp1","propertyType":"msg","rules":[{"t":"gt","v":"payload.alarmHigh","vt":"msg"},{"t":"lt","v":"payload.alarmLow","vt":"msg"}],"checkall":"true","outputs":2,"x":960,"y":1019,"wires":[["d71131de.28eed"],["cfaa2e9d.3055d"]]},{"id":"a92565a8.56da98","type":"timeout","z":"acdf7394.53209","name":"My Timeout","outtopic":"","outsafe":"Safe","outwarning":"Warning","outunsafe":"Unsafe","warning":"240","timer":"300","repeat":false,"again":false,"x":766,"y":1106,"wires":[["da973b98.2568c8"]]},{"id":"de958314.216a8","type":"pushover","z":"acdf7394.53209","name":"Brooder Under Temp","device":"","title":"Brooder Timeout","priority":0,"sound":"incoming","x":1143,"y":1108,"wires":[]},{"id":"da973b98.2568c8","type":"delay","z":"acdf7394.53209","name":"1 msg per min","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":942,"y":1106,"wires":[["de958314.216a8"]]}]
